@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 15px; // khoảng cách giữa các thành phần
  width: 100%;

  .title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

  .boxRememberMe {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
  }

  .buttonWrapper {
    width: 100%;
    margin-top: 5px;

    :global(.btn) {
      width: 100% !important; // ép nút full ngang
      height: 42px;
      font-size: 14px;
      font-weight: 400;
      background-color: #2c2c2c;
      color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #000;
      }
    }
  }

  .lostPassword {
    font-size: 14px;
    text-align: center;
    color: #000;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
