@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.btn {
  @include btn(176px, 42px, 3px, $primary_color);
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;

}

.primaryBtn {
  background-color: $primary_color;
  color: $white_color;

  &:hover {
    background-color: transparent;
    color: $primary_color;
    border: 1px solid $primary_color;
    transition: background-color 300ms;
  }
}

.secondaryBtn {
  background-color: $white_color;
  color: $primary_color;

  &:hover {
    background-color: transparent;
    color: $white_color;
    border: 1px solid $primary_color;
    transition: background-color 300ms;
  }
}
