@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
  padding-top: 83px;
}

.containerSteps {
  @include flex_box_custom(center, center, 0px);
  background-color: #fafafa;
  padding: 35px 0;
  flex-direction: column;

  .steps {
    @include flex_box_custom(center, center, 30px);

    .line {
      min-width: 120px;
      height: 1px;
      background-color: #e1e1e1;
    }
  }

  .textNote {
    font-size: 16px;
    color: $four_color;
    font-weight: 400;
    padding-top: 35px;
  }

  .stepper {
    @include flex_box_custom(center, center, 10px);
    text-transform: uppercase;
    cursor: pointer;

    .numberStep {
      @include flex_box_custom(center, center, 0px);
      background-color: #333;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      color: $white_color;
    }

    .isDisabledNumber {
      background-color: transparent;
      border: 1px solid #e1e1e1;
      color: #888;
    }

    .textStep {
      color: $four_color;
      font-size: 1.5rem;
      font-weight: 300;
    }

    .isDisabledText {
      color: #9a9a9a;
    }
  }
}

.containerContents {
  @include flex_box_custom(space-between, flex-start, 0px);
  margin-top: 80px;

  position: relative;

  .cartTableWrapper {
    flex: 0 0 58%;
  }

  .cartSummaryWrapper {
    flex: 0 0 40%;
  }

  .cartTable {
    // width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;

    position: relative;

    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;

      thead {
        tr {
          th {
            padding: 10px 15px;
            border-bottom: 1px solid #ccc;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
          }

          th:first-child {
            padding-left: 0;
            text-align: left;
          }

          th:last-child {
            padding-right: 0;
            text-align: right;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 15px;
            vertical-align: top;
            color: $secondary_color;
            font-size: 14px;
            font-weight: 300;

            &:nth-child(1) {
              display: flex;
              padding-left: 0;
              color: $four_color;
              font-size: 16px;

              img {
                width: calc(100px - 0.71em);
                margin-right: 10px;
                border-radius: 2px;
              }

              div {
                flex-grow: 1;

                p:first-child {
                  margin: 0;
                }

                p:last-child {
                  font-size: 0.9em;
                  color: #777;
                }
              }
            }
            &:nth-child(4) {
              color: $thr_color;
            }

            &:nth-child(5) {
              select {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 1px;
                color: $secondary_color;
              }
            }

            &:last-child {
              text-align: right;
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  .containerSummary {
    padding: 25px;
    border: 2px solid #888;
    position: relative;

    button {
      width: 100%;
    }

    .title {
      font-size: 16px;
      padding-bottom: 15px;
      border-bottom: 1px solid #e1e1e1;
    }

    .boxTotal {
      @include flex_box_custom(space-between, center, 0px);
      margin: 25px 0;
    }
    .subTotal {
      color: $thr_color;

      .price {
        color: $secondary_color;
        font-weight: 300;
        font-size: 14px;
      }
    }

    .totals {
      color: $four_color;
      font-size: 20px;
    }

    .space {
      height: 10px;
    }
  }

  .containerRight {
    flex-grow: 1;
  }

  .containerMethod {
    padding: 25px;
    position: relative;
    border: 1px solid #e1e1e1;
    margin-top: 45px;

    .titleMethod {
      position: absolute;
      top: -8px;
      transform: translateX(-50%);
      left: 50%;
      background-color: #fff;
      padding: 0 5px;
      text-transform: uppercase;
      font-size: 14px;

      span {
        color: #2e7d32;
      }
    }

    .boxImgMethods {
      @include flex_box_custom(center, center, 13px);
    }

    .ImgpaymentMethods {
      border: 1px solid #e1e1e1;
      width: 50px;
      height: 35px;
    }
  }

  .textSecure {
    text-align: center;
    font-size: 14px;
    color: $thr_color;
    margin-top: 10px;
  }

  .boxFooter {
    @include flex_box_custom(space-between, center, 0px);
    margin-top: 15px;

    .boxCoupon {
      @include flex_box_custom(flex-start, center, 0px);
      input {
        border: 1px solid #e1e1e1;
        padding: 10px 15px;
        border-radius: 2px;
        width: 300px;
        outline: none;
      }

      button {
        width: 35px;
        height: 40px;
        border-radius: 0px;
        padding: 0px 10px;
        font-size: 12px;
      }
    }

    .boxBtnClear {
      button {
        width: 220px;
        height: 33px;
        padding: 0px 30px;
        font-size: 12px;
        border-radius: 3px;
      }
    }
  }
}

.boxEmptyCart {
  @include flex_box_custom(center, center, 20px);
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  color: $thr_color;
  padding: 5rem 0;

  .titleEmpty {
    font-size: 24px;
    color: $primary_color;
  }

  .boxBtnEmpty {
    button {
      padding: 0 20px;
      font-size: 12px;
    }
  }
}

.loadingCart {
  @include flex_box_custom(center, center, 30px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
