@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
    height: 144px;
    background-color: $primary_color;
    margin-top: -75px;
    padding: 20px 50px;
}