@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
  @include flex_box_custom(center, flex-start, 25px);

  margin-top: 40px;

  img { 
    width: 70px;
  }

  .boxContent {
    @include flex_box_custom(center, flex-start, 15px);
    flex-direction: column;

    .title {
      font-size: 10px;
      color: $primary-color;
    }

    .price {
      font-size: 14px;
      color: $primary-color;
    }
  }
}
