@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
  padding-top: 83px;
  .functionBox {
    @include flex_box_custom(space-between, center, 0px);
    color: $secondary_color;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;

    .specialText {
      color: $primary_color;
      font-weight: 400;
    }

    .btnBack {
      cursor: pointer;
    }
  }

  .contentSection {
    @include flex_box_custom(unset, flex-start, 20px);

    .imageBox {
      max-width: 610px;
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      img {
        width: calc(100% / 2 - 10px);
        height: 350px;
        object-fit: cover;
        border-radius: 3px;
        cursor: zoom-in;
      }
    }

    .infoBox {
      flex-grow: 1;

      h1 {
        font-size: 24px;
        margin-top: 0px;
        font-weight: 400;
        color: $four_color;
      }

      .price {
        font-size: 20px;
        color: $secondary_color;
      }

      .descreption {
        color: $thr_color;
        font-weight: 400;
      }

      .titleSize {
        margin-bottom: 8px;
        font-weight: 400;
        color: $thr_color;
      }

      .boxSize {
        @include flex_box_custom(flex-start, center, 10px);

        .size {
          @include flex_box_custom(center, center, 0px);

          border: 1px solid #e1e1e1;
          padding: 6px 10px;
          cursor: pointer;
          font-size: 12px;
          color: $thr_color;

          &:hover {
            border: 1px solid $thr_color;
          }
        }

        .activeSize {
          border: 1px solid $thr_color;
        }
      }

      .functionInfo {
        @include flex_box_custom(space-between, center, 10px);
        margin-top: 20px;

        .boxAddCart {
          flex-grow: 1;

          button {
            width: 100% !important;
          }
        }

        .boxCount {
          @include flex_box_custom(center, center, 0px);
          cursor: pointer;

          div {
            border: 1px solid #e1e1e1;
            padding: 8px 5px;
            color: $secondary_color;
            cursor: pointer;
          }

          div:nth-child(2) {
            padding: 8px 12px;
            color: $thr_color;
            cursor: unset;
          }
        }
      }

      .orSection {
        @include flex_box_custom(center, center, 0px);
        margin: 20px 0px;

        div {
          width: 100%;
          height: 1px;
          background-color: #e1e1e1;
        }

        span {
          font-size: 12px;
          color: $secondary_color;
          padding: 0px 10px;
        }
      }

      .btnBuyNow {
        button {
          background-color: $sub_color;
          width: 100%;
        }

        &:hover button {
          background-color: $primary_color;
          color: $white_color;
        }
      }

      .addFunction {
        @include flex_box_custom(unset, center, 0px);
        margin: 30px 0px;
        gap: 10px;

        div {
          @include flex_box_custom(center, center, 0px);

          border: 1px solid #e1e1e1;
          border-radius: 50%;
          padding: 10px;
          cursor: pointer;

          svg {
            font-size: 20px;
          }
        }
      }

      .infoProduct {
        @include flex_box_custom(unset, flex-start, 10px);
        flex-direction: column;
        margin: 20px 0px;
        color: $four_color;
      }

      span {
        color: $secondary_color;
      }
    }
  }
}

.containerInfoProduct {
  font-weight: 400;

  div:last-child {
    border-bottom: unset;
  }

  .itemInformation {
    @include flex_box_custom(flex-start, center, 0px);

    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0px;

    div {
      width: 50%;
    }

    .title {
      color: $secondary_color;
    }

    .content {
      color: $thr_color;
    }
  }
}

.containerReview {
  .reviews {
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
  }

  .noReview {
    font-size: 14px;
    color: $thr_color;
    margin-bottom: 20px;
  }

  .replyForm {
    padding-top: 30px;

    .commentReplyTitle {
      font-size: 14px;
      margin-bottom: 14px;
      padding-bottom: 14px;
      border-bottom: 1px solid #e1e1e1;
      color: $thr_color;
    }

    .commentNotes {
      font-size: 14px;
      color: $thr_color;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .commentFormSave {
        display: flex;
        align-items: flex-start;
        gap: 7px;

        input {
          margin-top: 3px;
        }

        span {
          color: $thr_color;
        }
      }

      button {
        width: 100%;
        max-width: 110px;
        height: 35px;
      }
    }
  }
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .boxItemStar {
    @include flex_box_custom(unset, center, 25px);
  }

  label {
    color: $thr_color;

    span {
      color: #c62828 !important;
    }
  }

  input,
  textarea {
    border: 1px solid #e1e1e1;
    padding: 8px 15px;
    outline: none;

    &:focus {
      border: 1px solid $secondary_color;
    }
  }
}

.containerRelated {
  margin-top: 80px;

  h2 {
    text-align: center;
    font-weight: 400;
  }
}

.btnClear {
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.disabledBtn {
  cursor: not-allowed;
  opacity: 0.7;

  &:hover {
    background-color: #333;
    color: #fff;
  }
}
