@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
  padding-top: 83px;
  .functionBox {
    @include flex_box_custom(space-between, center, 0px);
    color: $secondary_color;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;

    .specialText {
      color: $primary_color;
      font-weight: 400;
    }

    .btnBack {
      cursor: pointer;
    }
  }

  .contentSection {
    @include flex_box_custom(unset, flex-start, 20px);

    .imageBox {
      max-width: 610px;
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      img {
        width: calc(100% / 2 - 10px);
        height: 350px;
        object-fit: cover;
        border-radius: 3px;
        cursor: zoom-in;
      }
    }

    .infoBox {
      flex-grow: 1;

      h1 {
        font-size: 24px;
        margin-top: 0px;
        font-weight: 400;
        color: $four_color;
      }

      .price {
        font-size: 20px;
        color: $secondary_color;
      }

      .descreption {
        color: $thr_color;
        font-weight: 400;
      }

      .titleSize {
        margin-bottom: 8px;
        font-weight: 400;
        color: $thr_color;
      }

      .boxSize {
        @include flex_box_custom(flex-start, center, 10px);

        .size {
          @include flex_box_custom(center, center, 0px);

          border: 1px solid #e1e1e1;
          padding: 6px 10px;
          cursor: pointer;
          font-size: 12px;
          color: $thr_color;
        }
      }

      .functionInfo {
        @include flex_box_custom(space-between, center, 10px);
        margin-top: 20px;

        .boxAddCart {
          flex-grow: 1;

          button {
            width: 100% !important;
          }
        }

        .boxCount {
          @include flex_box_custom(center, center, 0px);
          cursor: pointer;

          div {
            border: 1px solid #e1e1e1;
            padding: 8px 5px;
            color: $secondary_color;
            cursor: pointer;
          }

          div:nth-child(2) {
            padding: 8px 12px;
            color: $thr_color;
            cursor: unset;
          }
        }
      }

      .orSection {
        @include flex_box_custom(center, center, 0px);
        margin: 20px 0px;

        div {
          width: 100%;
          height: 1px;
          background-color: #e1e1e1;
        }

        span {
          font-size: 12px;
          color: $secondary_color;
          padding: 0px 10px;
        }
      }

      .btnBuyNow {
        button {
          background-color: $sub_color;
          width: 100%;
        }

        &:hover button {
          background-color: $primary_color;
          color: $white_color;
        }
      }

      .addFunction {
        @include flex_box_custom(unset, center, 0px);
        margin: 30px 0px;
        gap: 10px;

        div {
          @include flex_box_custom(center, center, 0px);

          border: 1px solid #e1e1e1;
          border-radius: 50%;
          padding: 10px;
          cursor: pointer;

          svg {
            font-size: 20px;
          }
        }
      }

      .infoProduct {
        @include flex_box_custom(unset, flex-start, 10px);
        flex-direction: column;
        margin: 20px 0px;
        color: $four_color;
      }

      span {
        color: $secondary_color;
      }
    }
  }
}
