@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
    margin: 65px 0px 15px;
}

.headline {
    height: 2px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.containerMiddleBox {
    padding: 0px 20px;
}

.des {
    font-size: 14px;
}