@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
  padding-top: 83px;
  .functionBox {
    @include flex_box_custom(space-between, center, 0px);
    color: $secondary_color;
    font-size: 14px;
    font-weight: 300;

    .specialText {
      color: $primary_color;
      font-weight: 400;
    }

    .btnBack {
      cursor: pointer;
    }
  }

  .containerTitle {
    margin-top: 60px;
    position: relative;

    .line {
      width: 100%;
      height: 2px;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
    }

    .title {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: white;
      padding: 0px 60px;

      .textS {
        font-size: 14px;
        color: $thr_color;
        text-transform: uppercase;
      }

      .textL {
        font-size: 24px;
        color: $primary_color;
        padding-top: 10px;
      }
    }
  }

  .containerContent {
    display: flex;
    gap: 30px;
    margin-top: 70px;
    img {
      width: 100%;
      height: 390px;
    }

    .description {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: $thr_color;
      margin-top: 25px;
    }
  }

  .faqSection {
    margin-top: 0;
    padding-bottom: 80px;

    .accordionList {
      width: 70%;
      margin: 0 auto;
      margin-top: 60px;
    }
  }
}
