@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
    background-image: url(../../assets/images/count-down-banner.jpeg);
    height: 409px;
    width: calc(100% / 2);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerTimer {
    @include flex_box_custom(center, center, 10px);
}