@use '@styles/mixin.modules.scss' as *;
@use '@styles/variable.module.scss' as *;

.container {
  padding-top: 83px;
  .functionBox {
    @include flex_box_custom(space-between, center, 0px);
    color: $secondary_color;
    font-size: 14px;
    font-weight: 300;

    .specialText {
        color: $primary_color;
        font-weight: 400;
    }

    .btnBack {
        cursor: pointer;
    }
  }
}

.containerBanner {
    background-image: url('../../assets/images/banner_ourShop.jpg');
    height: 279px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;

    .contentBox {
      @include flex_box_custom(space-between, center, 30px);
      flex-direction: column;
      padding: 60px 0;

      .coutDownBox {
        @include flex_box_custom(center, center, 10px);
      }

      .coutDownBox > span {
        margin-top: 0px;
        border: 1px solid #e1e1e1;
      }

      .title {
        font-size: 28px;
        color: $four_color;
        text-transform: capitalize;
        font-weight: 300;
      }

      .boxBtn {
        width: 160px;
      }
      
    }
}
